/* Write your CSS code here */
.header {
  font-family: 'roboto';
}
.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  margin-right: 10px;
}
